.titulo-mas-beneficios {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

.img-instalacion-gratis {
  width: 90px;
  height: auto;
  margin-bottom: 1rem;
}

.contenedor-beneficios {
  display: flex;
  flex-wrap: nowrap;
  margin: 5rem 10rem;
}

.contenedor-beneficio-unitario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 2rem;
  padding: 2rem;
  border: 1px solid #bdb7b7;
  background-color: white;
  border-radius: 25px;
}

.titulo-beneficio-unitario {
  text-transform: uppercase;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.descripcion-beneficio {
  text-align: justify;
}